:root {
	/* ------- colors ------- */
	--primary-color: red;
	--secondary-color: #171738;
	--tertiary-color: #dff3e4;
	--quaternary-color: #7180b9;
	--link-color: #3423a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
